

header {
  border-bottom: 2px solid black;
  padding: 20px;
  padding-left: 10px;
  background-color: red;
  color: black;
  }

header a {
  color: black;
  text-decoration: none;
}

  h1 {
    font-size: 40px;
    padding-left: 10px;
    color: green
  }

  h2 {
    padding-left: 10px;
  }

  h3 a {
    text-decoration: none;
  }

  a {
    color: lightseagreen
  }

  img {
    width: 200px;
    height: auto;
  }

  footer {
    padding: 20px;
    padding-left: 10px;
    background-color: rgb(130, 197, 130);
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
    padding-left: 10px;
  }

  .grid-item {
    padding-bottom: 20px;
  }

  table.striped {
    border-collapse: collapse;
  }

  table.striped tr:nth-child(even) {
    background-color: lightgray;
  }
